---
http_interactions:
- request:
    method: get
    uri: https://freesound.org/apiv2/search/content/?descriptors_filter=lowlevel.pitch.var:%5B*%20TO%2020%5D&page=1&page_size=2&target=lowlevel.pitch.mean:440
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <FREESOUND_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-k8sx
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: ASCII-8BIT
      string: '{"count":5385,"next":"https://freesound.org/apiv2/search/content/?&descriptors_filter=lowlevel.pitch.var:[*%20TO%2020]&target=lowlevel.pitch.mean:440&page=2&page_size=2","results":[{"id":34110,"name":"button
        (8).wav","tags":["beeps","buttons","website"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"kwazi","distance_to_target":1.996755599975586e-06},{"id":41762,"name":"bellA4.wav","tags":["bell","multisample","pad","synth"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"NoiseCollector","distance_to_target":2.0265579223632812e-06}],"previous":null}'
  recorded_at: Sat, 05 Jun 2021 16:22:54 GMT
[...]
- request:
    method: get
    uri: https://freesound.org/apiv2/search/content/?descriptors_filter=lowlevel.pitch.var:%5B*%20TO%2020%5D&page=1&page_size=2&target=lowlevel.pitch.mean:440
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <FREESOUND_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-k8sx
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: ASCII-8BIT
      string: '{"count":5385,"next":"https://freesound.org/apiv2/search/content/?&descriptors_filter=lowlevel.pitch.var:[*%20TO%2020]&target=lowlevel.pitch.mean:440&page=2&page_size=2","results":[{"id":34110,"name":"button
        (8).wav","tags":["beeps","buttons","website"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"kwazi","distance_to_target":1.996755599975586e-06},{"id":41762,"name":"bellA4.wav","tags":["bell","multisample","pad","synth"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"NoiseCollector","distance_to_target":2.0265579223632812e-06}],"previous":null}'
  recorded_at: Sat, 05 Jun 2021 16:22:55 GMT
recorded_with: VCR 6.0.0
