---
http_interactions:
- request:
    method: get
    uri: https://freesound.org/apiv2/packs/5107/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <FREESOUND_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-k8sx
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: ASCII-8BIT
      string: '{"id":5107,"url":"https://freesound.org/people/dobroide/packs/5107/","description":"","created":"2009-09-01T19:56:15","name":"Iceland","username":"dobroide","num_sounds":32,"sounds":"https://freesound.org/apiv2/packs/5107/sounds/","num_downloads":144}'
  recorded_at: Sat, 05 Jun 2021 16:22:48 GMT
- request:
    method: get
    uri: https://freesound.org/apiv2/packs/5107/sounds/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <FREESOUND_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-k8sx
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: ASCII-8BIT
      string: '{"count":32,"next":"https://freesound.org/apiv2/packs/5107/sounds/?page=2","previous":null,"results":[{"id":79275,"name":"20090828.krisuvik.hotspring.03.wav","tags":["flickr","field-recording","geothermal","hotspring","iceland","nature","bubbling","volcano"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"dobroide"},{"id":79274,"name":"20090828.krisuvik.hotspring.02.wav","tags":["bubbling","field-recording","geothermal","hotspring","iceland","nature","volcano"],"license":"http://creativecommons.org/licenses/by/3.0/","username":"dobroide"},{"id":79273,"name":"20090828.krisuvik.hotspring.01.wav","tags":["hotspring","field-recording","geothermal","bubbling","iceland","volcano","nature"],"license":"http://creativecommons.org/licenses/by/3.0/",[...]
