---
http_interactions:
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/123456789/?api_key=fbde61c7d0c84ebfb80ca4c300017a66
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n    \"status_code\": 404, \n    \"explanation\": \"Sound with id
        123456789 does not exist.\", \n    \"type\": \"NotFound\", \n    \"error\":
        true\n}"
  recorded_at: Tue, 03 Dec 2013 06:34:39 GMT
recorded_with: VCR 2.8.0
