---
http_interactions:
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/18763/?api_key=fbde61c7d0c84ebfb80ca4c300017a66
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver2
    body:
      encoding: UTF-8
      string: "{\n    \"similarity\": \"http://www.freesound.org/api/sounds/18763/similar/\",
        \n    \"num_ratings\": 10, \n    \"duration\": 20.000333333299999, \n    \"samplerate\":
        48000.0, \n    \"preview-hq-ogg\": \"http://www.freesound.org/data/previews/18/18763_65748-hq.ogg\",
        \n    \"id\": 18763, \n    \"preview-lq-ogg\": \"http://www.freesound.org/data/previews/18/18763_65748-lq.ogg\",
        \n    \"bitdepth\": 24, \n    \"num_comments\": 1, \n    \"filesize\": 5760140,
        \n    \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/18/18763_65748-hq.mp3\",
        \n    \"type\": \"wav\", \n    \"analysis_stats\": \"http://www.freesound.org/api/sounds/18763/analysis/\",
        \n    \"description\": \"20 second recording of the sound of a \\\"rocking
        motion\\\" mechanism from a battery powered baby's swing chair, set on #2
        switch mode setting (longest swing period). Ambient stereo image recorded
        using spaced pair of Rode NT1A mics, mixed with a single Rode NT3 placed adjacent
        the rocker mechanism. Lightly processed the stereo bus with compression, and
        added +8db of gain.\", \n    \"tags\": [\n        \"baby-swing\", \n        \"machine\",
        \n        \"mechanical\", \n        \"mechanism\", \n        \"motion\"\n
        \   ], \n    \"serve\": \"http://www.freesound.org/api/sounds/18763/serve/\",
        \n    \"spectral_m\": \"http://www.freesound.org/data/displays/18/18763_65748_spec_M.jpg\",
        \n    \"spectral_l\": \"http://www.freesound.org/data/displays/18/18763_65748_spec_L.jpg\",
        \n    \"user\": {\n        \"username\": \"terminal\", \n        \"url\":
        \"http://www.freesound.org/people/terminal/\", \n        \"ref\": \"http://www.freesound.org/api/people/terminal/\"\n
        \   }, \n    \"bitrate\": 2304, \n    \"num_downloads\": 383, \n    \"analysis_frames\":
        \"http://www.freesound.org/data/analysis/18/18763_65748_frames.json\", \n
        \   \"channels\": 2, \n    \"license\": \"http://creativecommons.org/licenses/by/3.0/\",
        \n    \"created\": \"2006-05-08 05:19:13\", \n    \"url\": \"http://www.freesound.org/people/terminal/sounds/18763/\",
        \n    \"ref\": \"http://www.freesound.org/api/sounds/18763/\", \n    \"avg_rating\":
        7.7999999999999998, \n    \"preview-lq-mp3\": \"http://www.freesound.org/data/previews/18/18763_65748-lq.mp3\",
        \n    \"original_filename\": \"SWING1MT.WAV\", \n    \"waveform_l\": \"http://www.freesound.org/data/displays/18/18763_65748_wave_L.png\",
        \n    \"waveform_m\": \"http://www.freesound.org/data/displays/18/18763_65748_wave_M.png\"\n}"
  recorded_at: Tue, 03 Dec 2013 06:34:38 GMT
recorded_with: VCR 2.8.0
